<head>
  <link rel="stylesheet" href="about_me.css" type="text/css" />
</head>
<body>
  <h1>Contact Me</h1>
  <hr />
  <p>Email: kaitlin_anderson@mac.com</p>
  <p>Phone: (801)231-3016</p>
  <br />
  <a href="/">Home</a>
  <a href="/resume">Resume</a>
</body>
