<head>
  <link rel="stylesheet" href="about_me.css" type="text/css" />
</head>
<body>
  <h1>Hi, I'm Kait Anderson</h1>
  <br />
  <img src="IMG_6468.jpg" alt="pic of me, my mom, and my brother" />
  <br />
  <a href="/resume">Resume</a>
  <a href="/contact">Contact Me</a>
</body>
