<head>
  <link rel="stylesheet" href="about_me.css" type="text/css" />
</head>
<body>
  <h1>Resume</h1>
  <hr />
  <ul>
    <li>in child care for 15 years</li>
    <li>once worked at David's Bridals</li>
    <li>getting into web development</li>
  </ul>
  <br />
  <a href="/">Home</a>
  <a href="/contact">Contact Me</a>
</body>
